[Unit]
Description=KalyChain Regular Node Service
After=network.target
StartLimitBurst=5
StartLimitIntervalSec=200

[Service]
Type=simple
Restart=always
RestartSec=30
User=%USER%
Group=%USER%
LimitNOFILE=65536
WorkingDirectory=/home/%USER%/node/
ExecStart=/home/%USER%/besu/bin/besu --config-file=/home/%USER%/node-install/configs/regular/config.toml
StandardOutput=journal
StandardError=journal
SyslogIdentifier=kaly-regular
Environment=LOG4J_CONFIGURATION_FILE=/home/%USER%/node-install/configs/regular/log-config.xml

[Install]
WantedBy=multi-user.target
